{
    "extends":["react-app","prettier"],
    //"parser": "@babel/eslint-parser", 
    //"parser":"babel-eslint",
    "rules":{
        "prettier/prettier":"error",
        "singleQuote": 1,
        "parser": 1,
        "endOfLine": 0
    },
    "plugins":["prettier"]
}